# Node
node_modules/
.pnpm-debug.log*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next/
out/

# TypeScript incremental
*.tsbuildinfo

# Env
.env
.env.*
!.env.example

# OS
.DS_Store

# Misc
coverage/

.tool-versions